[submodule "pure"]
	path = third-party/pure
	url = https://github.com/sindresorhus/pure.git
	shallow = true
[submodule "tmux-theme"]
	path = third-party/tmux-theme
	url = https://github.com/gpakosz/.tmux.git
	shallow = true
[submodule "zsh-syntax-highlighting"]
	path = third-party/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
	shallow = true
[submodule "zsh-autosuggestions"]
	path = third-party/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
	shallow = true
[submodule "third-party/oh-my-zsh"]
	path = third-party/oh-my-zsh
	url = git@github.com:robbyrussell/oh-my-zsh.git
[submodule "third-party/base16-shell"]
	path = third-party/base16-shell
	url = https://github.com/chriskempson/base16-shell.git
