[submodule "pure"]
	path = third-party/pure
	url = https://github.com/sindresorhus/pure.git
	shallow = true
[submodule "zsh-syntax-highlighting"]
	path = third-party/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
	shallow = true
[submodule "zsh-autosuggestions"]
	path = third-party/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
	shallow = true
[submodule "third-party/oh-my-zsh"]
	path = third-party/oh-my-zsh
	url = git@github.com:robbyrussell/oh-my-zsh.git
[submodule "third-party/base16-shell"]
	path = third-party/base16-shell
	url = https://github.com/chriskempson/base16-shell.git
[submodule "third-party/asdf"]
	path = third-party/asdf
	url = https://github.com/asdf-vm/asdf.git
[submodule "third-party/tpm"]
	path = third-party/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "third-party/fzf"]
	path = third-party/fzf
	url = https://github.com/junegunn/fzf.git
[submodule "third-party/oh-my-tmux"]
	path = third-party/oh-my-tmux
	url = https://github.com/augustobmoura/.tmux.git
[submodule "third-party/mons"]
	path = third-party/mons
	url = https://github.com/Ventto/mons.git
